{% extends '_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block page_title %}
    {% trans 'Profile' %}
{% endblock page_title %}

{% block content %}
    <div class="container mt-3">
        <h1>{{ user.username }}'s profile</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">{% trans 'Update profile' %}</button>
            <a href="{% url 'account_change_password' %}" class="btn btn-danger">{% trans 'Change password' %}</a>
        </form>
    </div>
{% endblock content %}