.comment-title {
    margin-left: 20px;
}

.profile-picture {
    display: block;
    border-radius: 30px;
    border: 5px solid aqua;
    margin-left: auto;
    margin-right: auto;
}

.nav-profile{
    border-radius: 90px;
    width: 60px;
    height: 60px;
    padding: 3px;
}