{% extends '_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% block page_title %}
    {% trans 'Post Detail' %}
{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3 p-5">
                    <h1>{{ post.title|capfirst }}</h1>
                    <p class="small text-muted mt-2">By: {{ post.author }}</p>
                    <p class="mt-2">{{ post.text|safe|linebreaks }}</p>
                    <div>
                        <a href="{% url 'blog_update' post.id %}" class="btn btn-sm btn-warning">{% trans 'Edit' %}</a>
                        <a href="{% url 'blog_delete' post.id %}" class="btn btn-sm btn-danger">{% trans 'Delete' %}</a>
                    </div>
                </div>

                <div class="card shadow my-3 p-5">
                    {% if not post.comments.all|active_comments %}
                        <h3>Comments:</h3>
                        No comments yet! Be the first one.
                    {% else %}
                        {% for comment in post.comments.all|active_comments %}
                            <p>{{ comment.author }} <span class="comment-title">{{ comment.datetime_created }}</span></p>
                            <p>{{ comment.get_rating_display }}</p>
                            <p>{{ comment.body|linebreaks }}</p>
                            _________
                        {% endfor %}

                    {% endif %}
                </div>

                <div class="card shadow my-3 p-5">
                    <h3>Add new comment:</h3>
                    <form action="{% url 'comment_create' post.id %}" method="POST">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}